@model HCMA.InputModels.Employees.EmployeesCreateInputModel
@using Data.Models
@{
    ViewData["Title"] = "Create";
}
<h1 class="bg-primary text-white font-weight-bold text-center p-3 w-60 mx-auto rounded" style="color:#69D2E7;">Create Employee</h1>
<hr />
 
    <div class="col-lg-12">
        <div class="job-detail mt-2 p-4"> 
            <div class="custom-form">
                <form asp-action="Create" method="post" enctype="multipart/form-data">
                    <div class="row justify-content-md-center">
                        <div class="col-md-4">
                            <div class="form-group app-label">
                                <label asp-for="FirstName" class=" text-primary"></label>
                                <input asp-for="FirstName" class="form-control" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label asp-for="LastName" class=" text-primary"></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div> 
                        <div class="col-md-4">
                            <div class="form-group app-label">
                                <label for="General" class="text-primary">Gender</label>
                                <div class="form-button">
                                    <select asp-for="GenderType" asp-items="Html.GetEnumSelectList<Gender>()" class="form-control">
                                        <option selected="selected" value="">Please select</option>
                                    </select> 
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Email" class=" text-primary"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group app-label">
                                <label asp-for="StartDate" class="text-primary"></label>
                                <input asp-for="StartDate" class="form-control" />
                                <span asp-validation-for="StartDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="Salary" class="text-primary"></label>
                            <input asp-for="Salary" class="form-control" />
                            <span asp-validation-for="Salary" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="DepartmentId" class="text-primary ">Choose Department</label>
                                <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.Department"></select>
                                <span asp-validation-for="DepartmentId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="RoleId" class="text-primary ">Choose Role</label>
                                <select asp-for="RoleId" class="form-control" asp-items="ViewBag.Role"></select>
                                <span asp-validation-for="RoleId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Phone" class="text-primary "></label>
                                <input asp-for="Phone" class="form-control" />
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group mx-auto w-45">
                                <div class="d-flex justify-content-center">
                                    <label asp-for="Image" class="text-primary">Picture</label>
                                </div>
                                <input type="file"
                                       class="form-control text-primary text-center"
                                       id="image"
                                       placeholder="Select Image"
                                       asp-for="Image">
                                <span asp-validation-for="Image" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Username" class=" text-primary"></label>
                                <input asp-for="Username" class="form-control" />
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Password" class=" text-primary"></label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="ConfirmPassword" class=" text-primary"></label>
                                <input asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group d-flex justify-content-center col-12">
                            <input type="submit" value="Create" class="btn btn-primary form-control center" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div> 
 
<div>
    <a asp-action="All">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
